<!DOCTYPE html>
<html>
<body style="font-family:Arial;background:#f4f4f4;padding:30px;">

<div style="
max-width:600px;
margin:auto;
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 2px 10px rgba(0,0,0,.1);
">

    <h1 style="color:#2563eb;">
        🎉 Order Confirmed
    </h1>

    <p>
        Hi {{ username }},
    </p>

    <p>
        Your order has been successfully placed.
    </p>

    <hr>

    <h3>Order Details</h3>

    <p>
        <strong>Order ID:</strong>
        #{{ order.id }}
    </p>
    <p> 
        <strong>Product Name:</strong>
        {{ order.items.first.product.name }}
    </p>
    <p>
        <strong>Total Amount:</strong>
        ₹{{ order.total_price }}
    </p>

    <p>
        <strong>Payment Method:</strong>
        {{ order.payment_method }}
    </p>

    <hr>

    <p>
        We are preparing your order and will notify you once it ships.
    </p>

    <br>

    <a href="http://127.0.0.1:8000/orders/history/"
       style="
       background:#2563eb;
       color:white;
       text-decoration:none;
       padding:12px 24px;
       border-radius:8px;
       ">
       View My Orders
    </a>

    <br><br>

    <p>
        Thank you for shopping with
        <strong>NexCart</strong> ❤️
    </p>

</div>

</body>
</html>