{%load static%}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Category</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/category_products.css' %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
      
<div class="page-header">

    <a href="{% url 'home' %}" class="back-btn">
        ← Home
    </a>

    <h1 class="page-title">
        {{ category }}
    </h1>
    </div>

<div class="products-grid">

{% for product in products %}

<div class="product-card">

    <a href="{% url 'product_detail' product.id %}">
        <img
            src="{{ product.image.url }}"
            alt="{{ product.name }}"
        >
    </a>

    <h3>{{ product.name }}</h3>

    <p>₹{{ product.price }}</p>

</div>

{% endfor %}

</div>
<script>
document.addEventListener("DOMContentLoaded", function () {

    if(localStorage.getItem("theme") === "dark"){
        document.body.classList.add("dark-theme");
    }

});
</script>
</body>
</html>